@model IEnumerable<Magenta.Models.Projects>

@{
    ViewData["Title"] = "Projects";
}
<form class="mb-2" asp-controller="Projects" asp-action="Import" method="post" enctype="multipart/form-data">
    <label class="h1 text-magenta">Projects</label>
    <a class="btn btn-magenta ml-3 mb-2" asp-action="Create">Create New</a>
    <input type="submit" name="Import" value="Import" id="btnImport" class="btn btn-magenta ml-3 mb-2" />
    <label for="file-upload" class="btn btn-magenta">
        Upload File
    </label>
    <span id="file-upload-filename"></span>
    <input id="file-upload" type="file" name="postedFile" class="d-none" />
</form>

<table class="table text-lgrey">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttatchmentsPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderedQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttatchmentsPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedBy.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Export" asp-route-id="@item.Id">Export</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
