@model IEnumerable<Magenta.Models.Works>

@{
    ViewData["Title"] = "Works";
}

<label class="h1 text-magenta">Works</label>
<a class="btn btn-magenta ml-3 mb-2" asp-action="Create">Create New</a>

<table class="table text-lgrey">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountProcessed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateProcessed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountProcessed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateProcessed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessedBy.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
